<div class="sidebar">
  <div class="header">
    <img src="https://www.ajackus.com/images/footer/ajakus_logo_primary.svg" alt="ajackus" class="ajackus-logo">
  
    <div class="profile-card">
      <div class="profile-info">
        <div class="icon-container">
          <i class="fas fa-user-circle"></i>
        </div>
        <div class="text-info">
          <h2 class="name">Username</h2>
        </div>
      </div>
    </div>
    
    <!-- Sidebar Menu -->
    <div class="menu">
      <ul>
        <li><a href="#">Dashboard</a></li>

      </ul>
    </div>
</div>