<!-- <div class="dashboard-container">
    <app-sidebar></app-sidebar>
    <div class="dashboard-content">
      <app-navbar></app-navbar>
      <app-user-data></app-user-data>
    </div>
  </div> -->


<div class="dashboard-container">
  <div class="fixed-header">
    <app-navbar class="navbar"></app-navbar>
  </div>
  <div class="sidebar-container">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-content">
    <div class="content-wrapper">
      <!-- <app-user-data></app-user-data> -->
    </div>
  </div>
</div>